<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!-- __TITLE__ --></title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="importmap">
        {}
    </script>

    <script type="module">
        import { main } from '@fusionstrings/1729';
        globalThis.addEventListener("DOMContentLoaded", main);
    </script>
</head>
<body>
    <header><!-- __HEADER__ --></header>
    <main><!-- __MAIN__ --></main>
    <footer><!-- __FOOTER__ --></footer>
</body>
</html>